ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
  ul.thumbnails.image_picker_selector li.group {width:100%;} 
  ul.thumbnails.image_picker_selector li.group_title {
    float: none; }
  ul.thumbnails.image_picker_selector li {
    margin: 0px 12px 12px 0px;
    max-width: 45%;
    float: left; }
    ul.thumbnails.image_picker_selector li .thumbnail {
      padding: 2px;
      min-height: 210px;
      border: 1px solid #dddddd;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; }
      ul.thumbnails.image_picker_selector li .thumbnail img {
        -webkit-user-drag: none; }
    ul.thumbnails.image_picker_selector li .thumbnail.selected {
      background: #930000; }

.thumbnail p {
  padding: 2px 0 0 2px;
}  
  

.thumbnail.selected p {
  color: white;
  font-weight: bold;
}

.flight-area ul.thumbnails.image_picker_selector li .thumbnail {
  min-height: initial;
}

.flight-area .thumbnail {
  margin-bottom: 0px;
}

.flight-area  .image_picker_image {
    //max-width: 80px!important;
}
.flight-area  ul.thumbnails.image_picker_selector li {
  margin: 0px 1px 4px 0px;
}